<article class="post">
    <div class="title">
        <a href="/">{{post.title}}</a>
        <span>posted by {{post.user.username}} on {{format_date post.created_at}}</span>
    </div>
    <div class="meta">
        {{post.content}}
        {{!-- | --}}
        {{!-- <a href="/post/{{post.id}}">{{post.comments.length}} comments(s)</a> --}}
    </div>
</article>

{{!-- conditionally render comment form --}}
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <p>Comment</p>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{!-- conditionally render script element --}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}